.gadget-header
    text-transform uppercase

body
    background #000

.dragArea
    min-height 100px
    min-width 100px
    border 1px solid #777
    background #eee

.dragItem
    cursor pointer
    background #ddd
    margin 5px